<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # If the requested path is not a file, directory, or link...
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  
  # ...rewrite everything to index.html
  RewriteRule . /index.html [L]
</IfModule>