@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Hero Section  */
.hero-bg {
  background: url("./assets/images/bg_illustration.png");
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 900px) {
  .hero-bg {
    background-size: 100%;
  }
}
