/* Hero Section  */
.hero-bg {
  background: linear-gradient(rgba(0, 62, 168, 0.695), rgba(37, 109, 255, 0)), url("./assets/herobg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
